[Desktop Entry]
Name=Jochona
Comment=Stream games and other applications from another PC running Sunshine or GeForce Experience
Exec=Jochona
Icon=com.jochona.client
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=nvidia;gamestream;stream;sunshine;remote play;
